<li>
    <div class="post">
        <div><%= post.title %></div>

        <div>Written by <%= render "post_author", post: post %></div>        
        
        <div><%= post.created_at.strftime("%B %d %Y") %></div>
        
        <div><%= post.body %></div>
        
        <div><%= link_to "Show", post %></div>
    </div>
</li>