<%= form_with model: post, class: "w-6/12" do |form| %>
    <div class="flex flex-col">
        <%= form.label :title, "Title:" %>
        <%= form.text_field :title, class: "w-full" %>
    </div>

    <div class="flex flex-col">
        <%= form.label :body, "Post Body:" %>
        <%= form.text_area :body, size: "50x10", class: "w-full" %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>