<%= form_with model: post do |form| %>
    <div>
        <%= form.label :title, "Post Title:" %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :body, "Post Body:" %>
        <%= form.text_area :body, size: "50x10" %>
    </div>

    <div>
        <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>