<h1 class="pb-2">Title: <%= @post.title %></h1>
    
<p class="text-sm italic pb-2">Written by <%= render "post_author", post: @post %></p>

<p class="text-sm italic pb-2"><%= render "post_date", post: @post %></p>
    
<p class="py-2 px-2 border border-gray-900 rounded"><%= @post.body %></p>

<%= render "post_edit_link", post: @post %>

<%= button_to "Delete Post", @post, 
    form: { data: { turbo_confirm: "Are you sure you would like to delete this post?" } }, method: :delete %>
    
<%= link_to "Back to Home", posts_path, class: "pb-2 text-sm" %>