<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full bg-slate-100">
    <header>
      <%= render "layouts/header" %>
    </header>

    <div class="container px-10">
      <% if notice %>
        <div class="bg-green-300 my-2 p-2 rounded"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="bg-rose-300 my-2 p-2 rounded"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
